./server/.env
.env
./server/node_modules/
./airflow/dags/.env
./airflow/logs/
./airflow/plugins/
server/node_modules/
server/.env
client/node_modules
.env
./server/.env
./server/node_modules/
./server/node_modules
./client/node_modules
./airflow/dags/.env
./airflow/dags/__pycache__
./airflow/logs/
./airflow/plugins/
server/node_modules/
server/.env
client/node_modules